@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../../public/Fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../../public/Fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../../public/Fonts/OpenSans-Semibold.ttf");
}